*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .shadow-cyan-600{
    box-shadow: 5px 5px 0 theme('colors.orange.300');
  }
}
.bgimg-1 {
position: relative;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position:bottom ;
background-image: url('https://www.xtrafondos.com/descargar.php?id=5703&resolucion=3840x2158');
min-height: 92vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

