*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* background-color: #1D1D1D; */
}
.gamer-title {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    color: #00ff00;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 4px;
    transform: skewX(-15deg);
}
.google-login-button {
  background-color: #3F4245; /* Cambiar el color de fondo */
  color: #FFFFFF; /* Cambiar el color del texto */
}
.shadow-white {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
@tailwind base;
@tailwind components;
@tailwind utilities;

/* background-color: #1D1D1D; */